lab4_1.dtd

<!ENTITY f "Female">
<!ENTITY m "Male">
<!Element patientdata (patient)>
<!ELEMENT patient
	(id, name, birthdate, gender, servicedate, code, diagnosis)>

<!ELEMENT id			(#PCDATA)>	
<!ELEMENT name			(#PCDATA)>
<!ELEMENT birthdate		(#PCDATA)>
<!ELEMENT gender		(#PCDATA)>
<!ELEMENT servicedate	(#PCDATA)>
<!ELEMENT code			(#PCDATA)>
<!ELEMENT diagnosis		(#PCDATA)>